body{
	background-color: #f4f4f4;
}
#header{
	border-bottom: 1px solid black;
	background-color: #3a5795;
	color: white;
}
#user-main-user-page{
	padding-top: 25px;
}
#input-login{
	width: 125px;
	margin-right: 10px;
	-webkit-border-radius: 0px;
	height: 17px;
}
.user-table{
	width: 600px;
	margin-top: 10px;
	margin-bottom: 25px;
}
#user-edit-button{
	margin-right: 10px;
	margin-left: 100px;
}

#edit-form-save-button{
	margin-right: 15px;
}
.edit-user-password-text{
	font-size: 16px;
	color: #484848;
	float: left;
	margin-right: 25px;
}

.edit-user-birthday-text{
	font-size: 16px;
	color: #484848;
	float: left;
	margin-right: 25px;
	margin-top: -10px;
}
#edit-button-form{
	margin-top: 25px;
}
.edit-user-adress-text{
	font-size: 16px;
	color: #484848;
	float: left;
	margin-right: 25px;
	margin-top: -2px;
}
.edit-user-description-text{
	font-size: 16px;
	color: #484848;
	float: left;
	margin-right: 13px;
	margin-top: -2px;
}
.edit-user-fio-text{
	font-size: 16px;
	color: #484848;
	float: left;
	margin-right: 27px;
}
.edit-user-birthday-input{
	margin-left: -17px;
}
.edit-user-login-text{
	font-size: 16px;
	color: #484848;
	margin-right: 37px;
	float: left;
	margin-top: 5px;
}
#edit-user-role-check{
	margin-right: 10px;
	margin-left: 25px;
	margin-top: -2px;
}
#edit-user-role-check1{
	margin-right: 10px;
	margin-left: 32px;
	margin-top: -2px;
}
.edit-user-phone-text{
	font-size: 16px;
	color: #484848;
	float: left;
	margin-right: 13px;
}
#edit-user-password-input{
	margin-top: -5px;
}
#edit-user-education{
	margin-top: -2px;
	margin-right: 5px;
}
#edit-user-education-other{
	margin-top: -2px;
	margin-right: 5px;
	margin-left: 10px;
}
.edit-user-password-input{
	margin-top: -5px;
}
#edit-user-fio-input{
	margin-top: -5px;
	margin-left: 18px;
}
#edit-user-phone-input{
	margin-top: -5px;
}

.edit-user-mail-text{
	margin-top: -5px;
	float: left;
	margin-right: 48px;
}
#edit-user-mail-input{
	margin-top: -7px;
}
.search-empty-result{
	font-size: 26px;
	color: #6e6f70;
}
.search-empty-result-small{
	font-size: 16px;
	color: #6e6f70;
	margin-bottom: 50px;
}
#edit-user-error-password{
	color: #ff0000;
	font-size: 12px;
	margin-left: 85px;
}
#edit-user-error-role{
	color: #ff0000;
	font-size: 12px;
	margin-left: 25px;
}
#edit-user-error-education{
	color: #ff0000;
	font-size: 12px;
	margin-left: 12px;
}
#edit-user-error-mail{
	color: #ff0000;
	font-size: 12px;
	margin-left: 90px;
}
#edit-user-first-row{
	margin-left: 75px;
}
#edit-user-second-row{
	margin-top: 25px;	
}
#edit-user-first-top-row{
	margin-top: 40px;
	margin-bottom: 25px;	
}
#edit-user-first-row-top{
	margin-left: 75px;
	margin-top: 50px;
	margin-bottom: 15px;	
}
.edit-user-id-text{
	font-size: 16px;
	color: #484848;
	float: left;
	margin-right: 74px;
	margin-top: 5px;
}
.register-user-id-text{
	font-size: 16px;
	color: #484848;
	float: left;
	margin-right: 31px;
	margin-top: 5px;
}
.user-table td{
	padding-top: 10px;
	padding-left: 10px;
}

.user-tanle-text-label{
	font-size: 18px;
	color: #484848;
}

.user-tanle-text-description{
	font-size: 14px;
	color: #484848;
}

.user-table-left-side{
	width: 150px;
}
#input-password{
	width: 125px;
	margin-right: 10px;
	-webkit-border-radius: 0px;
	height: 17px;
}
#input-login-button{
	margin-bottom: 12px;
	height: 26px;
	margin-left: 15px;
	-webkit-border-radius: 0px;

}
.main-error-message{
	font-size: 12px;
	color: red;
}
.main-error-message-password{
	margin-left: 35px;	
	font-size: 12px;
	color: red;
}

.main-error-message-user-mail{
	font-size: 12px;
	color: red;
	margin-top: 15px;
}

#main-conteiner{
	margin-top: 30px;
}
.main-registration-text{
	font-size: 36px;
	color: #3a5795;
	margin-bottom: 35px;
}
#main-registration-login {
	width: 170px;
	margin-right: 5px;
	height: 25px;

}
#main-pic{
	margin-top: 50px;
	width: 505px;
	height: 317px;
}
#main-registration-password{
	width: 170px;	
	height: 25px;
}
#main-registration-fio{
	width: 364px;
	height: 25px;
}
#main-registration-phone{
	width: 170px;
	height: 25px;
	margin-right: 5px;
}
#main-registration-birthday{
	width: 170px;
	height: 25px;
}
#main-registration-gender-male{
	float: left;
	margin-left: 50px;
	margin-right: 10px;
}
#main-registration-gender-female{
	margin-top: -2px;
	margin-left: 50px;
	margin-right: 8px;
}
.main-registration-gender-text{
	margin-top: 5px;
	font-size: 18px;
	color: #616161;
}
.main-registration-education-text{
	margin-top: 17px;
	font-size: 18px;
	color: #616161;
}

#main-registration-education-hight{
	float: left;
	margin-left: 50px;
	margin-right: 10px;
}
#main-registration-education-degree{
	margin-left: 25px;
	margin-right: 10px;
	margin-top: -2px;
}
#main-registration-education-other{
	margin-left: 25px;
	margin-right: 10px;
	margin-top: -2px;
}

#main-register-email{
	width: 364px;	
	height: 25px;
	
}
#main-registration-adress{
	width: 364px;
}
#footer{
	background-color: white;
}
#users-search-select{
	margin-right: -7px;
	height: 42px;
	width: 110px;
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top,  #fefefe 0%, #eaeaea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fefefe 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fefefe 0%,#eaeaea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fefefe 0%,#eaeaea 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fefefe 0%,#eaeaea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */

}
#appendedInputButton{
	width: 400px;
	height: 32px;
	margin-right: -10px;
	-webkit-border-radius: 0px;
	z-index: 5;
}
#users-table-edit-icon{
	margin-left: 45px;
}


#users-table-delete-icon{
	margin-left: 25px;
}



#users-search-go{
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	
	z-index: 1;
	border: none;
	margin-top: -9px;
	height: 45px;
	border: 1px solid #485059;
	background: #72787f; /* Old browsers */
	background: -moz-linear-gradient(top,  #72787f 0%, #505760 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#72787f), color-stop(100%,#505760)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #72787f 0%,#505760 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #72787f 0%,#505760 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #72787f 0%,#505760 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #72787f 0%,#505760 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72787f', endColorstr='#505760',GradientType=0 ); /* IE6-9 */
}
#users-search-label{
	float: left;
	margin-right: 25px;
	font-size: 18px;
	margin-top: 10px;
}
#users-search-main-div{
	margin-top: 25px;
}
.users-search-links{
	margin-left: 215px;
	margin-right: 10px;

}
#search-show-message{
	margin-top: 7px;
	height: 50px;
	width: 100%;
}