<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="dataSource"	class="org.springframework.jdbc.datasource.DriverManagerDataSource">	
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/dbusers" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	
	 <security:global-method-security secured-annotations="enabled" />
	 <security:http auto-config="true" use-expressions="true">
		 <security:access-denied-handler error-page="/403"/>
		
		 <security:intercept-url pattern="/" access="permitAll" />
		 <security:intercept-url pattern="/login" access="permitAll" />
		 <security:intercept-url pattern="/loginError" access="permitAll" />
		 <security:intercept-url pattern="/register" access="permitAll" />
		 <security:intercept-url pattern="/insert" access="permitAll" />
		 <security:intercept-url pattern="/resources/**" access="permitAll" />
		 
		 <security:intercept-url pattern="/**" access="hasAnyRole('ROLE_ADMIN','ROLE_REGULAR_USER')" />

		 <security:intercept-url pattern="/edit**" access="hasRole('ROLE_ADMIN')" />
		 <security:intercept-url pattern="/update" access="hasRole('ROLE_ADMIN')" />
		 
		 <security:form-login login-page="/login" 
							 default-target-url="/search" 
							 authentication-failure-url="/loginError" />
		
		 <security:logout logout-url="/logout" 
					invalidate-session="true"/>
		 
		 <security:remember-me key="uniqueAndSecret" 
								token-validity-seconds="86400"
								remember-me-parameter="remember-me" />		
	</security:http>
	
	<security:authentication-manager>
		<security:authentication-provider>
			<security:user-service>
				<security:user name="admin" password="admin" authorities="ROLE_ADMIN"/>
				<security:user name="user" password="user" authorities="ROLE_REGULAR_USER"/>
			</security:user-service>		
		</security:authentication-provider>
	</security:authentication-manager>

	<!-- <security:authentication-manager>	
		<security:authentication-provider >
		<security:password-encoder hash="md5" />
			<security:jdbc-user-service
				data-source-ref="dataSource"
				users-by-username-query="select user_name,password,enabled from user_authentication where user_name=?"
				authorities-by-username-query="select u1.user_name, u2.user_role from user_authentication u1, user_authorization u2 where u1.user_id = u2.user_id and u1.user_name =?" />
		</security:authentication-provider>
	</security:authentication-manager> -->

</beans>