<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">
	
	<beans:bean id="dataSource"	class="org.springframework.jdbc.datasource.DriverManagerDataSource">	
		<beans:property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<beans:property name="url" value="jdbc:mysql://localhost:3306/dbusers" />
		<beans:property name="username" value="root" />
		<beans:property name="password" value="root" />
	</beans:bean>
	
	

	<beans:bean id="webexpressionHandler" class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" /> 

	<security:http auto-config="true" >
		<security:access-denied-handler error-page="/403"/>
		<!-- <security:intercept-url pattern="/main*" access="ROLE_ADMIN" />
		<security:intercept-url pattern="/common*" access="ROLE_REGULAR_USER" />
		<security:intercept-url pattern="/admin*" access="ROLE_ADMIN" /> -->
		<security:form-login login-page="/login" 
							 default-target-url="/search" 
							 authentication-failure-url="/loginError" />
		<security:logout logout-url="/logout" delete-cookies="JSESSIONID"/>
		<security:remember-me key="uniqueAndSecret" 
								token-validity-seconds="86400"
								remember-me-parameter="remember-me" />		
	</security:http>
	
	<security:authentication-manager>
		<security:authentication-provider>
			<security:user-service>
				<security:user name="admin" password="admin" authorities="ROLE_ADMIN"/>
				<security:user name="user" password="user" authorities="ROLE_REGULAR_USER"/>
			
			</security:user-service>		
		
		</security:authentication-provider>
	</security:authentication-manager>

	<!-- <security:authentication-manager>	
		<security:authentication-provider >
		<security:password-encoder hash="md5" />
			<security:jdbc-user-service
				data-source-ref="dataSource"
				users-by-username-query="select user_name,password,enabled from user_authentication where user_name=?"
				authorities-by-username-query="select u1.user_name, u2.user_role from user_authentication u1, user_authorization u2 where u1.user_id = u2.user_id and u1.user_name =?" />
		</security:authentication-provider>
	</security:authentication-manager> -->

</beans:beans>