<?xml version="1.0" encoding="UTF-8"?>
<beans:bean
	xmlns = "http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		
	xsi:schemaLocation = "http://www.springframework.org/schema/security 
						  http://www.springframework.org/schema/security/spring-security-3.2.xsd
						  http://www.springframework.org/schema/beans 
						  http://www.springframework.org/schema/beans/spring-beans.xsd">	
						   
	 <global-method-security secured-annotations="enabled" />
	 <http  pattern="/resources/**" security="none"/>
	 <http authentication-manager-ref="authMgr"  auto-config="true"  use-expressions="true">
		 <access-denied-handler error-page="/403"/>		
		 <intercept-url pattern="/initializeTables" access="permitAll" />
		 <intercept-url pattern="/" access="permitAll" />
		 <intercept-url pattern="/login" access="permitAll" />
		 <intercept-url pattern="/loginError" access="permitAll" />
		 <intercept-url pattern="/registered" access="permitAll" />
		 <intercept-url pattern="/inserted" access="permitAll" />		 
		 <intercept-url pattern="/**" access="hasAnyRole('ROLE_ADMIN','ROLE_REGULAR_USER')" />
		 <intercept-url pattern="/users/**" access="hasAnyRole('ROLE_ADMIN','ROLE_REGULAR_USER')" />
		 <intercept-url pattern="/edit**" access="hasRole('ROLE_ADMIN')" />
		 <intercept-url pattern="/update" access="hasRole('ROLE_ADMIN')" />
		 <intercept-url pattern="/insert" access="hasRole('ROLE_ADMIN')" />
		 <intercept-url pattern="/register" access="hasRole('ROLE_ADMIN')" />		 
		 <form-login login-page="/login" 
							 default-target-url="/users" 
							 authentication-failure-url="/loginError" />
		 <logout logout-url="/logout" 
					delete-cookies="JSESSIONID"/>
		 <remember-me 	token-validity-seconds="1209600"								
								remember-me-parameter="remember-me"
								data-source-ref="dataSource" />		
	</http>	
	<authentication-manager id="authMgr">	
		<authentication-provider  >
			<password-encoder hash="bcrypt" />
				<jdbc-user-service
					data-source-ref="dataSource"
					users-by-username-query="${users.security.username}"
					authorities-by-username-query="${users.security.authentication}" />
			</authentication-provider>
	</authentication-manager>
	<!-- <authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="admin" password="admin" authorities="ROLE_ADMIN"/>
				<user name="user" password="user" authorities="ROLE_REGULAR_USER"/>
			</user-service>		
		</authentication-provider>
	</:authentication-manager> -->
</beans:bean>